

tbody tr td {
    border: 1px solid #ededed;
    text-align: center;
    padding: 10px; 
    font-weight: 500;
    text-transform: capitalize;
}


td.remove_product {
    min-width: 180px;
    font-size: 30px;
}

 td.product_thumbnel {
    max-width: 280px;
    overflow: hidden;
}

 td.product_thumbnel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

 td.product_title {
    min-width: 250px;
}

 td.price {
    min-width: 280px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(35, 35, 35);
}

 td.quantity {
    min-width: 280px;
}

 td.quantity label {
    font-weight: 600;
    margin-right: 4px;
}

 td.quantity input {
    height: 35px;
    width: 80px;
    background: none;
    padding: 0 7px 0 12px;
    border: 1px solid #d6d6d6;
}

 td.product_addcart {
    min-width: 280px;
}

td.total{
    min-width: 280px;
}

.sub_total{
    width: 35%;
    margin-left: 64%;
    margin-top: 20px;
    height: 300px;
  
}

.sub_total1{
    display: flex;
    justify-content: space-between;
}

.sub_total1 p{
   margin: 10px 0;
}

.sub_total :nth-child(3){
    border-bottom: 1px dotted rgb(61, 61, 61);
    margin: 20px 0;
 }

 .sub_total :nth-child(4){
    margin: 20px 0;
 }



.checkout_btn {
    text-align: right;
}

.checkout_btn a {
    display: initial;
    font-size: 13px;
}



.quantity input {
    text-align: center;
}

.pro-remove button {
    background: transparent;
}


/* ---------------------------------
    Empty Cart 
-------------------------------------*/

.empaty_cart {
    text-align: center;
}

.empaty_cart h2 {
    padding-top: 10px;
}

.empaty_cart a {
    margin-top: 20px;
}