
/* ---------------------------------
      Product Single Page 
-------------------------------------*/
.slider-nav .nav_img {
    margin-left: 15px;
}

.product_img_two_slider {
    margin-bottom: 30px;
}

.product_img_two_slider img {
    width: 100%;
}

.slider-nav .nav_img:first-child {
    margin-left: 0;
}

#product_single_one .customs_selects {
    padding-top: 30px;
}

#product_single_one .variable-single-item {
    padding-top: 10px;
}

#product_single_one .reviews_rating {
    padding-top: 15px;
}

#product_single_one .modal_product_content_one h4 {
    padding-top: 20px;
}

#product_single_one .modal_product_content_one h4 del {
    padding-left: 20px;
    color: var(--main-theme-color);
}

#product_single_one .modal_product_content_one p {
    padding-top: 20px;
}

#product_single_one .links_Product_areas {
    padding-top: 30px;
}

#product_single_one .links_Product_areas ul li {
    display: inline-flex;
    padding-right: 20px;
}

#product_single_one .links_Product_areas ul li a i {
    padding-right: 5px;
}

#product_single_one .links_Product_areas .theme-btn-one {
    margin-top: 20px;
}

.product_single_one_img img {
    width: 100%;
}

.product_details_tabs {
    padding-top: 60px;
}

.product_details_tabs .nav-tabs {
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
}

.product_details_tabs ul li {
    padding-right: 30px;
}

.product_details_tabs .nav-tabs li a {
    font-size: 18px;
    font-weight: 500;
    color: #afafaf;
}

.product_details_tabs ul li a.active {
    color: var(--main-theme-color);
}

#description .product_description {
    padding-top: 20px;
}

#description .product_description ul {
    padding-left: 55px;
    padding-top: 20px;
}

#description .product_description ul li {
    list-style: disc;
    padding-top: 10px;
}

#description .product_description ul li:first-child {
    padding-top: 0px;
}

#description .product_description ul li:last-child {
    padding-bottom: 10px;
}

#additional .product_additional {
    padding-top: 20px;
}

#additional ul li {
    padding-top: 10px;
    font-weight: 600;
    color: #6b6b6b;
}

#additional ul li:first-child {
    padding-top: 0px;
}

#additional ul li span {
    color: var(--main-theme-color);
    display: block;
    padding-top: 8px;
}

#review .product_reviews {
    padding-top: 20px;
}

#review .product_reviews .media-public ul li {
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
}

#review .product_reviews .media-img {
    padding-right: 20px;
}

#review .product_reviews .media .media-img img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#review .product_reviews .media-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#review .product_reviews ul .media {
    box-shadow: 0px 0px 15px 6px #96969614;
    padding: 44px 50px;
    margin-top: 30px;
}

#review .product_reviews ul .media:first-child {
    margin-top: 0;
}

#review .product_reviews .media-header .media-name h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

#review .product_reviews .media-header .post-share a {
    font-size: 16px;
    color: #848484;
    padding-left: 18px;
}

#review .product_reviews .media-header .post-share a:hover {
    color: var(--main-theme-color);
}

#review .product_reviews .media-pragraph p {
    padding-top: 5px;
}

#review .product_reviews .media-pragraph .product_review_strat span i {
    color: var(--main-theme-color);
}

#review .product_reviews .media-pragraph {
    padding-top: 5px;
}
