/*
/*
@File: AndShop Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>
*******************************************
*/


/*================================================
Default CSS
=================================================*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import './topheader.css';
@import './navbar.css';
@import './ofcanvas.css';
@import './cart.css';
@import './checkout.css';
@import './shop.css';
@import './productDetail.css';
@import'furniture.css';
@import'error.css';

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.payment_method .collapsed {
    width: 100% !important;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-100 {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    outline: 0 !important;
    color: var(---heading-color);
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: var(--main-theme-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: var(--paragraph-color);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    padding: 0;
}


/* --Common Class Area start-- */

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1440px;
}

.img-zoom-hover img {

    transition: transform 1s, filter 0.5s ease-out;
}

.img-zoom-hover:hover img {
    transform: scale(1.1) rotate(1deg);
}

/* --Center Heading-- */
.center_heading {
    padding-bottom: 30px;
    text-align: center;
}

.center_heading h2 {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.center_heading p {
    padding-top: 10px;
}

/* --Center Heading Two-- */
.center_heading_two {
    padding-bottom: 30px;
    text-align: center;
}

.center_heading_two h2 {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.heading_border {
    display: block;
    background: var(--main-theme-color);
    height: 3px;
    width: 150px;
    margin: 10px auto 0 auto;
}

/* --Left Heading Three-- */
.left_heading_three {
    text-align: left;
}

.left_heading_three h2 {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}


/* --Button-- */
.bg-gray {
    background: #f7f7f7;
}

.bg-whites {
    background-color: #fff;
    color: #000;
}

.bg-whites:hover {
    color: #fff;
    background-color: #000;
}


.bg-black {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.bg-black:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}


.theme-btn-one {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    border-radius: 0;
}

.btn_md {
    padding: 16px 35px;
}

.btn_sm {
    padding: 10px 16px;
}

.btn-black-overlay {
    background-color: #000;
    color: #fff;
}

.btn-black-overlay:hover {
    background-color: #262626;
    color: #fff;
}

#common_banner_one {
    background-image: url('../img/common/common_bg.png');
    padding: 90px 0;
    background-repeat: no-repeat;
}

.common_banner_text {
    text-align: center;
    color: #fff;
}

.common_banner_text h2 {
    color: #fff;
}

.common_banner_text ul {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.common_banner_text ul li {
    color: #fff;
}

.common_banner_text ul li.active {
    color: var(--main-theme-color);
}

.common_banner_text ul li.slash {
    padding: 0 10px;

}

.common_banner_text ul li a {
    color: #fff;
}

.common_banner_text ul li a:hover {
    color: var(--main-theme-color);
}


/* --Common Class Area start-- */




/* ---------------------------------
     My Account Page 
-------------------------------------*/


.btn:focus {
    outline: 0;
    box-shadow: none;
}

.myaccount_lists {
    margin-bottom: 40px;
}

.myaccount_lists li a {
    color: #353535;
    padding: 20px 13px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    display: block;
    border: 1px solid #c5c8c8;
}

/* .myaccount_lists li a:last-child {
    border-bottom: 1px solid #E8E8E8;
} */

.myaccount_lists li a i {
    font-size: 14px;
    width: 23px;
}

.myaccount_lists li a.active,
.myaccount_lists li a:hover {
    background-color: black;
    color: #fff;
}

/* .add_prod_button {
    position: absolute;
    right: 0;
    top: 18px;
} */

.dashboard_content h4,
.dashboard_content .h4 {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #212121;
    border-bottom: 1px dashed #c0c0c0;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
}

.profils_details_vendor h4 {
    border-bottom: none;
}

.profile_right h4 {
    font-weight: 600 !important;
}

.dashboard_content p a {
    color: #b19361;
    font-weight: 500;
}

.billing_address h5 {
    padding-bottom: 10px;
}

.input-radio span {
    font-weight: 500;
    padding-right: 10px;
}

.input-radio span input[type=radio],
.account_login_form form span input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.checkbox-default-more-text em {
    margin-top: 16px;
    display: block;
}

.account_details_form .default-form-box {
    margin-bottom: 20px;
}

.account_details_form .input-radio {
    margin-top: 20px;
}

.account_details_form .example {
    font-size: 14px;
    display: block;
}

.myaccount-content .title {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #212121;
    border-bottom: 1px dashed #E8E8E8;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
}

.myaccount-content {
    border: 1px solid #E8E8E8;
    padding: 30px;
}

.myaccount-content table {
    overflow: hidden;
}

.billing_address p {
    padding-top: 10px;
}

.billing_address a {
    margin-top: 20px;
}

.img_profiles {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--main-theme-color);
    overflow: hidden;
}

.fixed_icon input {
    opacity: 0;
    position: absolute;
} 

/* ---------------------------------
   Login Page 
-------------------------------------*/

.account_form {
    box-shadow: 0px 0px 7px 5px #0000000a;
    padding: 30px 40px;
    background: #fff;
}

.account_form h3 {
    text-align: center;
}

.account_form form {
    padding-top: 30px;
}

.account_form form .default-form-box {
    margin-bottom: 30px;
}

.login_submit {
    text-align: center;
}

.remember_area {
    padding-top: 20px;
    padding-bottom: 10px;
}


